<app-home></app-home>
<div style="padding-top: 1rem;" class="container">
    <h5>Inicio de Sesión.</h5>
    <form class="row">
        <label class="col-sm-3" for="nick">
            Nickname:
            <input type="text" id="nick" class="form-control" formControlName="nickName" placeholder="Nombre de usuario">
        </label>
        <br/>
        <label class="col-sm-3" for="pass">
            Contraseña:
            <input type="password" id="pass" class="form-control" formControlName="password" placeholder="Contraseña">
        </label>
        <br/>
        <br/>
    </form>
    <p style="padding-left: 18%;"><a href="#">Olvide mi contraseña</a><br></p>
    <button type="submit" class="btn btn-success col-sm-6">Iniciar Sesión</button>
    <br/>
    <br/>
    <button type="button" class="btn btn-info col-sm-6" (click)="NavegaToHome()">Inicio</button>
</div>
