<app-home></app-home>
<div style="padding-top: 1rem;" class="container">
    <h5>Datos Personales.</h5>
        <form class="row">
            <label class="col-sm-3" for="name">
                Nombre/s:
                <input type="text" id="name" class="form-control" formControlName="nombres" placeholder="Ingresa tu nombre" required>
                <p> {{nombres.value}} </p>
               </label>
            <label class="col-sm-3" for="ape">
                Apellidos:
                <input type="text" id="ape" class="form-control" formControlName="apellidos" placeholder="Ingresa tus apellidos" required>
            </label>
            <label class="col-sm-3" for="age">
                Edad:
                <input type="text" id="age" class="form-control" formControlName="edad" placeholder="Ingresa tu edad" required>
            </label>
        </form>
        <h5>Datos de Usuario.</h5>
        <form class="row">
            <label for="mai" class="col-sm-3">
                Correo:
                <input type="email" id="mai" class="form-control" formControlName="correo" placeholder="Ingresa tu Email" required>
            </label>
            <label class="col-sm-3" for="nick">
                Nickname:
                <input type="text" id="nick" class="form-control" formControlName="nickname" placeholder="Ingresa tu usuario" required>
            </label>
            <label class="col-sm-3" for="pass">
                Contraseña:
                <input type="password" id="pass" class="form-control" formControlName="password" placeholder="Ingresa tu contraseña" required>
            </label>
        </form>
        <h5>Datos Bancarios.</h5>
        <form class="row">
            <label for="number" class="col-sm-3">
                #Tarjeta:
                <input type="text" id="number" class="form-control" formControlName="nCreditCard" placeholder="Numero de tarjeta">
            </label>
            <label for="passw" class="col-sm-3">
                NIP:
                <input type="password" id="passw" class="form-control" formControlName="passCredit" placeholder="Nip de tarjeta">
            </label>
        </form>
        <h5>Reservación.</h5>
        <form class="row">
            <label for="date" class="col-sm-3">
                Fecha:
                <input type="date" id="date" class="form-control" formControlName="fecha">
            </label>
        </form>
        <br/>
    <button type="submit" class="btn btn-warning btn-block" (click)="Guardar()">Registrar</button>
    <br/><br/>
    <button type="button" class="btn btn-info btn-block" (click)="NavegaToHome()">Inicio</button>
</div>