<nav class="navbar navbar-light bg-light">
    <a class="navbar-brand" href="#">
    <img src="../../../assets/Hoteleria/hotel.svg" width="30" height="30" alt="" loading="lazy">
    </a>
</nav>
<h3 style="text-align: center;">Registro de Usuario</h3>
<div class="container" style="padding-top: 3rem;">
    <div>
        <form (ngSubmit)="onSubmit()">
            <label>
                Nombre:
                <input class="form-control" type="text" [formControl]="nombres" placeholder="Ingresa tu nombre" required>
                Nombre: <b>{{nombres.value}}</b>
            </label><br/>
            <label>
                Apellidos:
                <input class="form-control" type="text" [formControl]="apellidos" placeholder="Ingresa tus apellidos">
                Apellidos: <b>{{apellidos.value}}</b>
            </label><br/>
            <label>
                Edad:
                <input class="form-control" type="text" [formControl]="edad" placeholder="Ingresa tu edad">
                Edad: <b>{{edad.value}}</b>
            </label><br/>
            <label>
                Correo:
                <input class="form-control" type="email" [formControl]="correo" placeholder="Ingresa tu correo">
                Correo: <b>{{correo.value}}</b>
            </label><br/>
            <label>
                Nickname:
                <input class="form-control" type="text" [formControl]="nickname" placeholder="Ingresa tu nickname">
                Nickname: <b>{{nickname.value}}</b>
            </label><br/>
            <label>
                Contraseña:
                <input class="form-control" type="password" [formControl]="password" placeholder="Ingresa tu contraseña">
            </label><br/>
        </form>
    </div>
    <br/>
    <form>
        <div>
            <button class="btn btn-success" type="submit" (click)="Guardar()">Registrar</button>
        </div>
        <div>
            <p>{{texto}}</p>
        </div>
        <div>
            <button type="button" class="btn btn-info" (click)="NavegaToHome()">Home</button>
        </div>
    </form>
</div>